<h1><a href="<%= sub_url(@post.sub)%>"><%= @post.sub.title %></h1>
<div class="post-container">
    <header class="post-header">
        <h3><a href="<%=@post.url ? @post.url : sub_post_url(@post.sub, @post)%>"><%= @post.title %></a></h3>
        <p><%= @post.author.username %></p>
        <p>Posted <%= @post.created_timestamp %> ago</p>
        <% if @post.created_timestamp != @post.updated_timestamp %>
            <p>Edited <%= @post.updated_timestamp %></p>
        <% end %>
    </header>
    <p><%= @post.content %></p>
</div>